PORT=3000
NODE_ENV=development
SESSION_SECRET=change_this_to_a_long_random_secret_string_at_least_64_chars
JWT_SECRET=another_long_random_secret_string_for_jwt_tokens
GITHUB_CLIENT_ID=Ov23lipGPMlFLeaUTveA
GITHUB_CLIENT_SECRET=84196c1e1f4adde3387498a5d104ccbde1d4a8b4
GITHUB_CALLBACK_URL=http://localhost:3000/api/auth/github/callback
GITHUB_REPO_OWNER=sbclaveria007-prog
GITHUB_REPO_NAME=sangguniang-bayan-claveria
GITHUB_REPO_BRANCH=main
ADMIN_GITHUB_USERS=sbclaveria007-prog
STAFF_GITHUB_USERS=staff_github_username1,staff_github_username2
FRONTEND_URL=http://localhost:5500
